/*! =========================================================
 *
 *  レスポンシブ、グリッドなどレイアウト関連の設定
 *
 * =========================================================*/

 *, *:before, *:after {
     -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
          -o-box-sizing: border-box;
         -ms-box-sizing: border-box;
             box-sizing: border-box;
 }

div {
    position: relative;
}
body{
    margin: 0;
}
